<div style="margin-top: -105px">
	<div class="row justify-content-md-center text-center">
		<div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray">
			<i class="bi bi-filetype-cs"></i>
			<h3>.NET</h3>
			<p>
				Tecnologías en las que busco especializarme y en las que más horas de aprendizaje estoy invirtiendo.
			</p>
			<p class="text-primary cabecera">
				Conocimientos:
			</p>
			<ul>
				<li>ASP.NET Core MVC</li>
				<li>Entity Framework Core</li>
				<li>Dapper</li>
				<li>Web API</li>
				<li>WPF</li>
				<li>Blazor</li>
			</ul>
		</div>
		<div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray">
			<i class="bi bi-code-slash"></i>
			<h3>Extras</h3>
			<p>
				Tecnologías que fuí aprendiendo ya sea por interes personal o por la universidad.
			</p>
			<p class="text-primary cabecera" style="margin-top: 3.3rem">
				Conocimientos:
			</p>
			<ul>
				<li>C++</li>
				<li>Ruby</li>
				<li>PowerShell scripting</li>
				<li>Java</li>
				<li>Kotlin</li>
				<li>MySQL</li>
				<li>Git</li>
			</ul>
		</div>
	</div>
</div>