<div class="text-center">
	<h1 class="display-4">Soy Manuel Lopez Cosmitz</h1>
	<h2>Aspiro a ser un desarrollador backend especializado en tecnologías .NET.</h2>
	<img id="foto"
		 src="~/img/foto.jpg" alt="Foto de Manuel" />
</div>

<div class="text-center">
	<img id="foto-dotnet"
		 src="~/img/dotnet.png" alt="Foto .NET" />
</div>

<div class="row justify-content-center text-center descripcion">
	<div class="col col-md-7 seccion-bienvenida">
		<h1>Bienvenido a mi portafolio</h1>
		<p>
			Empecé a programar hace aproximadamente 2 años a raíz de los trabajos que me daban en la universidad, a lo largo de este periodo me fuí interiorizando en todo el mundo de la programación y me di cuenta que me encantaba. <br />
			Mientras investigaba en qué tecnología basar mi aprendizaje pasé por varios lenguajes de programación, Ruby, Kotlin, C++, por mencionar algunos, hasta que finalmente llegué a C# y el ecosistema .NET, del cual quedé completamente enamorado. <br />
			En la actualizad mi objetivo es seguir interiorizandome en .NET, estoy aprendiendo ASP.NET, Entity Framework, Blazor y un poco de WPF.
		</p>
	</div>
</div>