@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Te voy a contestar ni bien vea tu mensaje.</p>
<div><a asp-controller="Home" asp-action="Index">Volver al Inicio</a></div>

