@model IEnumerable<ProyectoViewModel>

@{
	ViewData["Title"] = "Proyectos";
}

<div class="container">
	<h1>Mis proyectos</h1>
	<p>Acá se pueden ver la gran mayoría de los proyectos en los que trabajé.</p>
</div>

<partial name="_IteracionProyectos" model="Model" />